{
  "ConnectionStrings": {
    "DefaultConnection": "Host=yourHost;Database=dbname;Username=youUserName;Password=youPassword"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
